
button:hover{
    cursor: pointer;
}
input{
    font-size: 1rem;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.5em;
  
}
.button1{
    background-color:blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5em;
    margin-left: 0.5em;
  
}
@media(max-width: 600px){
    .button1{
        padding: 5px 10px;
        margin-top: 0.5em;
        font-size: 12px;
    }
}